doctype html
html
	head
		meta(content="width-device-width, initial-scale=1")
		link(rel="stylesheet" href="style.css")
		block moreHead
	body
		.topnav
			ul.topnav-right
				li
					.logo
						img(src="owl.png")
				li
					a(href="viewer") View the Ontology
				li
					a(href="queries") Query the Ontology
				li
					a(href="editor") Make a Contribution
				li
					a(href="curatorauth") Curator Area
		hr
	block content